<div class="container">

  <div class="pipeContainer">
    <h4>Variable original:</h4>
    <p>{{ title }}</p>
  </div>

  <div class="pipeContainer">
    <h4>UpperCasePipe - Texto a mayúsculas</h4>
    <p>{{ title | uppercase }}</p>
  </div>

  <div class="pipeContainer">
    <h4>LowerCasePipe - Texto a minúsculas</h4>
    <p>{{ title | lowercase }}</p>
  </div>

</div>

<hr />

<div class="container">
  
  <div class="pipeContainer">
    <h4>Variable original:</h4>
    <p>{{ user }}</p>
  </div>

  <div class="pipeContainer">
    <h4>JsonPipe - Convierte un objeto en formato JSON</h4>
    <p>{{ user | json }}</p>
  </div>
</div>

<hr />

<div class="container">
  
  <div class="pipeContainer">
    <h4>Variable original:</h4>
    <p>{{ num }}</p>
  </div>

  <div class="pipeContainer">
    <h4>DecimalPipe - Da formato decimal a un número <a href="https://angular.dev/api/common/DecimalPipe">+ info.</a></h4>
    <p>{{ num | number:"3.2-2" }}</p>
  </div>
</div>

<hr />

<div class="container">
  
  <div class="pipeContainer">
    <h4>Variable original:</h4>
    <p>{{ birthday }}</p>
  </div>

  <div class="pipeContainer">
    <h4>DatePipe - Da formato a una fecha <a href="https://angular.dev/api/common/DatePipe">+ info.</a></h4>
    <p>{{ birthday | date: 'long' }}</p>
  </div>

</div>

<hr />

<div class="container">
  
  <div class="pipeContainer">
    <h4>Variable original:</h4>
    <p>{{ cost }}</p>
  </div>

  <div class="pipeContainer">
    <h4>CurrencyPipe - Da formato a una moneda <a href="https://angular.dev/api/common/CurrencyPipe">+ info.</a></h4>
    <p>{{ cost | currency: 'EUR' : true }}</p>
  </div>

</div>