<!-- 
    La directiva ngSrc nos permite lo siguiente: 
       1- Angular carga solamente las fotos que salen en pantalla (viewport)
       2- En consola nos salen avisos y/o errores para mejorar los tiempos
       3- Permite priorizar (priority) las imágenes que se cargan primero
-->

<div class="container">
  @for (photo of photoUrls; track $index; let first = $first) {
    @if (first) {
      <div class="image-container">
        <img [ngSrc]="photo" alt="Photo Image" priority fill>
        <p>{{photo}}</p>
      </div>
      
    } @else {
      <div class="image-container">
        <img [ngSrc]="photo" alt="Photo Image" fill>
        <p>{{photo}}</p>

      </div>
    }
  }
</div>
