<button type="button" (click)="onAddRandomUser()">Añadir usuario</button>

<div class="container">
  @for (user of users; track user.id) {
    <div class="card">
      <h4>{{user.name}}, {{user.age}}</h4>
      <img [src]="user.img" alt="User Image">

      <div>
        <button type="button" (click)="onDeleteUser(user)">Borrar</button>

        <button type="button" (click)="onIncreaseUserAge(user)">+</button>
        <button type="button" (click)="onDecreaseUserAge(user)">-</button>
      </div>
      
    </div>
  }
</div>