<h3>Usos del ngClass</h3>

<h4>Mediante el uso de un array:</h4>

<p>Usando clases:</p>
<button class="btn btn-primary" type="button">Button</button>

<p>Equivalente usando ngClass:</p>
<button [ngClass]="['btn', 'btn-primary']" type="button">Button</button>

<h4>Mediante el uso de un objeto:</h4>

<button type="button" (click)="checked = !checked">Switch Color</button>

<p>Boton que canvia mediante condicionales:</p>
<button [ngClass]="{'btn': true, 'btn-primary': checked == true, 'btn-secondary': checked == false}" type="button">Button</button>

<p>Equivalent al ejemplo anterior mediante una funcion</p>
<button [ngClass]="getButtonClass()" type="button">Button</button>

<h3>Uso del ngStyle</h3>
<p>Hay que tener en cuenta que se debe evitar el uso de añadir estilos directamente</p>
<div [ngStyle]="calcularEstilo()">Texto</div>