<mat-toolbar>
  <span class="spacer"></span>

  <button
    mat-icon-button
    class="favorite-icon"
    aria-label="icon-button with basket icon"
    routerLink="/basket"
  >
    <!-- Usamos la AsyncPipe ya que queremos que la cantidad de objetos de la cesta
         se actualice constantmente es un Observable que va a ir cambiando -->
    <mat-icon aria-hidden="false" [matBadge]="basketAmountItems$ | async">shopping_basket</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
